*{
    margin:0;
}

.forbackground{
    display: grid;
    grid-template-areas: "header"
    "hero";
    background-color: #1F2937;
    height: 26vw;
}
.header{
    display: grid;
    grid-area: header;
    grid-template-rows: auto;
    grid-template-columns: 50vw 40vw;
    grid-template-areas: "logo links";
}
.logo{
    grid-area: logo;
    margin-left: 10vw;
    
}
.links{
    text-align: end;
    display: inline-block;
    white-space: nowrap;
    margin-left: 9vw;
}

.awesometext{
    grid-area: awesometext;
    font-size: 48px;
    color: #F9FAF8;
}
.heroimg{
    grid-area: heroimg;
    width: 28vw;
    height: 28vh;
    margin-right: 5vw;
    margin-left: 1vw;
}
.subtext{
    grid-area: subtext;
    font-size: 18px;
    color: #E5E7EB;
}
.button1{
    grid-area: button1;
    background-color: #3882f6;
    height: 4vh;
    width: 8vw;
    color: white;
    border-radius: 8%;
}
.hero{
    grid-area: hero;
    margin-left: 10vw;
    margin-top: 8vw;
    display: grid;
    grid-template-columns: 50vw 40vw;
    grid-template-rows: auto;
    grid-template-areas: "awesometext heroimg"
    "subtext heroimg"
    "button1 heroimg";
}

.quote{
    grid-area: quote;
    text-align: center;
}
.box{
    width: 180px;
    height: 180px;
    margin: 20px 50px;
    display: inline-block;
    border-radius: 5%;
    border: 20px #3882f6;
}
.inner-border {
    border: 2px solid blue;
    box-sizing: border-box;
}
.pics{
    box-sizing: border-box;
    height: 176px;
    width: 176px;
}
.randominfo{
    font-size: 36px;
    color:#1F2937;
    margin-top: 5vh;
}
.timeaction{
    grid-area: timeaction;
}
.footer{
    grid-area: footer;
    background-color: #1F2937;
    text-align: center;
}

.quotemain{
    grid-area: quotemain;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    margin-top: 5vh;
    padding-top: 10vh;
    padding-bottom: 8vh;
}
.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header header"
    "hero hero"
    "quote quote"
    "quotemain quotemain"
    "timeaction timeaction"
    "footer footer";
}

.actionarea{
    width: 1400px;
    height: 180px;
    background: black;
    margin-left: 30vh;
    margin-bottom: 10vh;
    margin-top: 6vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "call timebutton"
    "signhere timebutton";
    background-color: #3882f6;
    text-align: center;
}

.call{
    grid-area: call;
    color: white;
    font-size: 24px;
    margin-top: 50px;
}

.signhere{
    grid-area: signhere;
    font-size: 18px;
    color: white;
    margin-bottom: 45px;
}

.timebutton{
    grid-area: timebutton;
    width: 100px;
    height: 30px;
    margin-left: 20vh;
    margin-top: 8vh;
    background-color: #3882f6;
    border-radius: 8%;
    color: white;
}
